
.view {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.operationsContainer {
  display: flex;
  flex-direction: column;
}

.fundsContainer {
  display: flex;
  flex-direction: column;
  
  padding: 20px;
  width: 265px;
  box-sizing: border-box;
  flex-shrink: 0;
}
