.form {
  display: flex;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
}

.form > *:not(:last-child){
  margin-right: 5px !important;
}

.emoji {
  padding-right: 10px;
}
