.container {
  line-height: 32px;
  height: 32px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.loggedIn {
  display: flex;
  flex-direction: row;
}

.loggedIn > * {
  margin: 0 5px;
}
