
.userContainer {
  display: flex;
  line-height: 32px;
  height: 32px;
  padding: 5px;
  margin-left: -5px;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.userContainer > * {
  margin-left: 5px;
}
